<!-- allProducts.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('./layout/head.ejs') %>
    <title></title>
  </head>
  <body>
    <%- include('./layout/header.ejs') %>

    <!-- Display About Information -->
    <p class="paragraph-one"></p>

    <%- include('./layout/footer.ejs') %> <%- include('./layout/scripts.ejs') %>
  </body>
</html>
