@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body,
html {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Make sure the body is scrollable */
body {
  overflow: scroll;
  overflow-x: hidden; /* Optional: Hide horizontal scrollbar */
}

body p,
body span {
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  body p,
  body span {
    font-size: 0.8rem !important;
  }
}

@media screen and (max-width: 500px) {
  body p,
  body span {
    font-size: 1rem !important;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mobile-nav {
    transition: right 0.3s ease-in-out;
  }
}

@layer utilities {
  .grayed-out-disabled {
    @apply disabled:opacity-50;
  }
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-thumb-gray-600::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Tailwind gray-600 */
  border-radius: 4px;
}

.scrollbar-track-gray-900::-webkit-scrollbar-track {
  background-color: #1a202c; /* Tailwind gray-900 */
  border-radius: 4px;
}

.m-nav {
  display: none;
}

@media screen and (max-width: 480px) {
  .m-nav {
    display: block;
  }
}
