<footer>
    <p class="main-footer">Contact us:</p>
    <ul class="footer-list">
        <li class="footer-list-item">
            <a href="https://api.whatsapp.com/send?phone=254751382260&text=Hello" target="_blank">
                <img src="/public/img/whatsapp.png" alt="whatapp">
            </a>
        </li>
        <li class="footer-list-item">
            <a href="mailto:mbithimark6@gmail.com" target="_blank">
                <img src="/public/img/gmail.png" alt="E-mail">
            </a>
        </li>
        <li class="footer-list-item">
            <a href="https://www.instagram.com/mbithi.mark" target="_blank" rel="noopener noreferrer">
                <img src="/public/img/instagram.png" alt="Instagram">
            </a>
        </li>
        <li class="footer-list-item">
            <a href="https://www.facebook.com/jack.linel.9" target="_blank">
                <img src="/public/img/facebook.png" alt="Facebook">
            </a>
        </li>
        <li class="footer-list-item">
            <a href="https://www.x.com/MarkMbithi4" target="_blank">
                <img src="/public/img/twitter.png" alt="Twitter">
            </a>
        </li>
    </ul>
</footer>