<footer>
  <p class="footer-heading">Contact us:</p>
  <ul class="footer-list">
    <ul class="footer-item">
      <a target="_blank" href="mailto:mbithimark8@gmail.com">
        <img src="/icons/mail.png" alt="Email" />
      </a>
    </ul>
    <li class="footer-item">
      <a href="https://www.facebook.com/jacklinel11" target="_blank">
        <img src="/icons/facebook" alt="Facebook" />
      </a>
    </li>
    <li class="footer-item">
      <a href="https://www.instagram.com/mbithi.mark" target="_blank">
        <img src="/icons/instagram" alt="Instagram" />
      </a>
    </li>
    <li class="footer-item">
      <a href="https://www.x.com/markmbithi4" target="_blank">
        <img src="/icons/x" alt="x.com" />
      </a>
    </li>
  </ul>
  <p class="endnote">We aim to please!</p>
</footer>
