<nav>
  <ul class="navbar-list">
    <li class="navbar-item">
      <a href="/products/all">Products</a>
    </li>
    <li class="navbar-item">
      <a href="/customer/<%= req.session.userId %>"> My Profile </a>
    </li>
    <li class="navbar-item">
      <a href="/products/categories"> categories </a>
    </li>
    <li class="navbar-item">
      <a href="/about">About us</a>
    </li>
  </ul>
</nav>
