@tailwind base;
@tailwind components;
@tailwind utilities;

.auth-input {
  @apply border-r-0 border-l-0 border-t-0 border-b border-black/25;
}

a,
svg,
button {
  user-select: none;
}

.scroll-mod {
  -webkit-scrollbar-width: thin;
  scrollbar-width: thin;
}

.scroll-mod::-webkit-scrollbar {
  width: 5px;
}

.scroll-mod::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.scroll-black::-webkit-scrollbar-thumb {
  background-color: white;
  scrollbar-color: black;
}

.scroll-white::-webkit-scrollbar-thumb {
  background-color: black;
  scrollbar-color: white;
}
